<% include ../partials/header %>
<% include ../partials/login__nav %>


<div class="container text-white">
    <h1>Hello Admin</h1>
    <a href="/admin/categori">Categories</a>
</div>


<% include ../partials/footer %>