<% include ../partials/header %>
<style>
    body {
        background-color: black;
    }

    .bosluk {
        height: 100px;
    }

    .bosluk2 {
        height: 20px;
    }
</style>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body bg-dark text-white">
            <h1 class="text-center mb-3">Upload</h1>
            <form action="/upload/porn" method="POST">
                <div class="form-group">
                    <label for="url">Video Url</label>
                    <input type="url" id="url" name="url" class="form-control" placeholder="Video Url" />
                </div>
                <div class="form-group">
                    <label for="name">Video Name</label>
                    <input type="name" id="name" name="name" class="form-control" placeholder="Video Name" />
                </div>
                <div class="form-group">
                    <label for="kanal_id">Categori Seç</label>
                    <select class="custom-select" name="c" id="c">
                        <% categori.forEach(function(categori){ %>
                        <option type="name" id="c" name="c" value="<%- categori.name %>"><%- categori.name %>
                        </option>
                        <% }) %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </form>
        </div>
    </div>
</div>